@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat';
}

.containerRegister{
    display: flex;
	align-items: center;
    flex-direction: column;

}

.form-group {
	display: flex;
	align-items: center;
    flex-direction: column;
	gap: 10px;
	padding: 20px 20px;
}

.form-group input {
	/* padding: 15px 30px; */
	font-family: inherit;
	width: 250px;
	border: none;
    background-color: #f4f4f4;
    border-radius: 10px;
	outline: none;
	font-size: 15px;
	padding: 10px;
}

.btnRegister {
	width: auto;
	border: none;
	outline: none;
	border-radius: 25px;
	padding: 15px 30px;
	font-family: inherit;
	color: #fff;
    background-color: #50cb90;
	cursor: pointer;
	font-weight: 500;
	letter-spacing: 2px;
}

.btnRegister:hover {
	background-color:#84f1bd;
	color: #000;
}

.containerTorneo{
    margin-top: 15px;
    display: flex;
	align-items: center;
    flex-direction: column;

}
.btn-logout {
	width: auto;
	border: none;
	outline: none;
	border-radius: 25px;
	padding: 15px 30px;
	font-family: inherit;
	color: #fff;
    background-color: #50cb90;
	cursor: pointer;
	font-weight: 500;
	letter-spacing: 2px;
}

.btn-logout:hover {
	background-color:#84f1bd;
	color: #000;
}

.containerTorneo{
    display: flex;
    padding: 15px;
    flex-direction: column;
}

.containerTorneo img{
    width: 150px;
}

.torneo{
    display: flex;
    margin-top: 10px;
    align-items: center;
    flex-direction: column;
	gap: 10px;
}

.btns{
    gap:10px; 
    display: flex;
    align-items: center;
    flex-direction: row;
}

.btn-update{
    margin-top: 10px;
    width: auto;
	border: none;
	outline: none;
	border-radius: 25px;
	padding: 15px 30px;
	font-family: inherit;
	color: #fff;
    background-color: #50cb90;
	cursor: pointer;
	font-weight: 500;
	letter-spacing: 2px;
}


.btn-update:hover {
	background-color:#84f1bd;
	color: #000;
}

.btn-delete{
    margin-top: 10px;
    width: auto;
	border: none;
	outline: none;
	border-radius: 25px;
	padding: 15px 30px;
	font-family: inherit;
	color: #fff;
    background-color: #50cb90;
	cursor: pointer;
	font-weight: 500;
	letter-spacing: 2px;
}


.btn-delete:hover {
	background-color:#84f1bd;
	color: #000;
}

.btn-create{
    margin-top: 10px;
    width: auto;
	border: none;
	outline: none;
	border-radius: 25px;
	padding: 15px 30px;
	font-family: inherit;
	color: #fff;
    background-color: #50cb90;
	cursor: pointer;
	font-weight: 500;
	letter-spacing: 2px;
}

.btn-create:hover {
	background-color:#84f1bd;
	color: #000;
}

.form-group1{
    margin-top: 10px;
}



.form-group1 input{
    margin: 10px;
    display: flex;
	align-items: center;
    flex-direction: column;
    gap: 20px;
	padding: 15px 15px;
	font-family: inherit;
	width: 250px;
	border: none;
    background-color: #f4f4f4;
    border-radius: 10px;
	outline: none;
	font-size: 15px;
}

.form-button-group{
    display: flex;
    align-items: center;
	flex-direction: row;
	gap: 10px;
	padding: 20px;
}

.form-button-group button{
    margin-top: 10px;
    width: auto;
	border: none;
	outline: none;
	border-radius: 25px;
	padding: 15px 30px;
	font-family: inherit;
	color: #fff;
    background-color: #50cb90;
	cursor: pointer;
	font-weight: 500;
	letter-spacing: 2px;
}

.form-button-group button:hover{
    background-color:#84f1bd;
	color: #000;
}

    
.btn-new-create{
    width: auto;
	border: none;
	outline: none;
	border-radius: 25px;
	padding: 15px 30px;
	font-family: inherit;
	color: #fff;
    background-color: #50cb90;
	cursor: pointer;
	font-weight: 500;
	letter-spacing: 2px;
}







